Workbook to merge all the positive and negative datasets from each survey

In [1]:
import pandas as pd
import io
import zipfile
import requests
import geopandas as gpd
import shapely.geometry
from shapely.geometry import Point
import pyproj
import numpy as np
import matplotlib.pyplot as plt
import math
import os, sys

In [2]:
path = '..//..//..//Documents//Test_sets//Testing_Sample//HOG_testsets_10m//comp//Mean'
p = 3
grid = 10

In [3]:
HI1521 = pd.read_csv(path + 'HOGpositives_HI1521_25_'+str(grid)+'m_o4p'+str(p)+'b1_1.csv')
HI1521n = pd.read_csv(path + 'HOGnegatives_HI1521_25_'+str(grid)+'m_o4p'+str(p)+'b1_1.csv')
print (len(HI1521))
print (len(HI1521n))

128
192

In [4]:
HI1509 = pd.read_csv(path + 'HOGpositives_HI1509_25_'+str(grid)+'m_o4p'+str(p)+'b1_1.csv')
HI1509n = pd.read_csv(path + 'HOGnegatives_HI1509_25_'+str(grid)+'m_o4p'+str(p)+'b1_1.csv')
print (len(HI1509))
print (len(HI1509n))

92
138

In [5]:
HI1539B = pd.read_csv(path + 'HOGpositives_HI1539B_25_'+str(grid)+'m_o4p'+str(p)+'b1_1.csv')
HI1539Bn = pd.read_csv(path + 'HOGnegatives_HI1539B_25_'+str(grid)+'m_o4p'+str(p)+'b1_1.csv')
print (len(HI1539B))
print (len(HI1539Bn))

33
49

In [6]:
HI1522_TE5A = pd.read_csv(path + 'HOGpositives_HI1522_TE5A_25_'+str(grid)+'m_o4p'+str(p)+'b1_1.csv')
HI1522_TE5An = pd.read_csv(path + 'HOGnegatives_HI1522_TE5A_25_'+str(grid)+'m_o4p'+str(p)+'b1_1.csv')
print (len(HI1522_TE5A))
print (len(HI1522_TE5An))

31
46

In [7]:
HI14701 = pd.read_csv(path + 'HOGpositives_HI1470_25_'+str(grid)+'m_o4p'+str(p)+'b1_1.csv')
HI14701n = pd.read_csv(path + 'HOGnegatives_HI1470_25_'+str(grid)+'m_o4p'+str(p)+'b1_1.csv')
print (len(HI14701))
print (len(HI14701n))

165
247

In [8]:
HI14702 = pd.read_csv(path + 'HOGpositives_HI1470_25_'+str(grid)+'m_o4p'+str(p)+'b1_2.csv')
HI14702n = pd.read_csv(path + 'HOGnegatives_HI1470_25_'+str(grid)+'m_o4p'+str(p)+'b1_2.csv')
print (len(HI14702))
print (len(HI14702n))

167
250

In [9]:
HI14703 = pd.read_csv(path + 'HOGpositives_HI1470_25_'+str(grid)+'m_o4p'+str(p)+'b1_3.csv')
HI14703n = pd.read_csv(path + 'HOGnegatives_HI1470_25_'+str(grid)+'m_o4p'+str(p)+'b1_3.csv')
print (len(HI14703))
print (len(HI14703n))

60
90

In [10]:
HI1522_TE101 = pd.read_csv(path + 'HOGpositives_HI1522_TE10_25_'+str(grid)+'m_o4p'+str(p)+'b1_1.csv')
HI1522_TE101n = pd.read_csv(path + 'HOGnegatives_HI1522_TE10_25_'+str(grid)+'m_o4p'+str(p)+'b1_1.csv')
print (len(HI1522_TE101))
print (len(HI1522_TE101n))

117
175

In [11]:
HI1522_TE102 = pd.read_csv(path + 'HOGpositives_HI1522_TE10_25_'+str(grid)+'m_o4p'+str(p)+'b1_2.csv')
HI1522_TE102n = pd.read_csv(path + 'HOGnegatives_HI1522_TE10_25_'+str(grid)+'m_o4p'+str(p)+'b1_2.csv')
print (len(HI1522_TE102))
print (len(HI1522_TE102n))

176
264

In [12]:
HI1522_TE103 = pd.read_csv(path + 'HOGpositives_HI1522_TE10_25_'+str(grid)+'m_o4p'+str(p)+'b1_3.csv')
HI1522_TE103n = pd.read_csv(path + 'HOGnegatives_HI1522_TE10_25_'+str(grid)+'m_o4p'+str(p)+'b1_3.csv')
print (len(HI1522_TE103))
print (len(HI1522_TE103n))

116
174

In [13]:
len(HI1521) + len(HI1521n) +len(HI1509) +len(HI1509n) + len(HI1539B)+ len(HI1539Bn) +len(HI1522_TE5A)+len(HI1522_TE5An) + len(HI14701) + len(HI14701n)+ len(HI14702) + len(HI14702n)+len(HI14703) + len(HI14703n)+ len(HI1522_TE101)+ len(HI1522_TE101n)+ len(HI1522_TE102)+ len(HI1522_TE102n)+len(HI1522_TE103)+len(HI1522_TE103n)

2710

In [14]:
result = HI1521.append([HI1521n, HI1509, HI1509n, HI1539B, HI1539Bn, HI1522_TE5A, HI1522_TE5An,HI14701, HI14701n, HI14702, HI14702n, HI14703, HI14703n,HI1522_TE101,HI1522_TE101n,HI1522_TE102,HI1522_TE102n,HI1522_TE103,HI1522_TE103n])

In [15]:
len(result)

2710

In [16]:
result2 = result.drop(['Unnamed: 0'], axis=1)

In [17]:
result2.head()

,A,B1,B2,B3,B4,B5,B6,B7,B8,C1,...,C12,C13,C14,C15,C16,mindep,cellav,allav,drange,Selection
0,0.699105,0.523597,0.845961,0.707071,7.070568e-01,0.935508,0.642501,0.942804,0.777002,0.757460,...,0.734142,0.162051,0.526465,7.070355e-01,0.728974,11.423400,0.301484,-3.038687,0.649180,1
1,0.999974,0.142582,0.707075,0.945545,9.999347e-01,0.707076,0.090803,0.793582,0.169831,0.771725,...,0.828063,0.471201,0.447688,7.367055e-01,0.568848,7.831703,0.886610,0.553010,2.147247,1
2,0.999963,0.550400,0.597798,0.294841,4.276751e-01,0.999954,0.535919,0.581665,0.110038,0.796352,...,0.793153,0.155752,0.447560,8.254675e-01,0.501214,8.991404,0.700686,-0.606691,1.367596,1
3,0.999910,0.707036,0.999910,0.707046,5.316222e-01,0.707041,0.937026,0.707034,0.325267,0.789565,...,0.716628,0.757299,0.315604,6.122590e-17,0.315621,8.273400,0.326139,0.111313,0.684095,1
4,0.512527,0.854831,0.999893,0.707051,6.122679e-17,0.707054,0.781595,0.350121,0.524829,0.999885,...,0.444587,0.189328,0.315615,7.070513e-01,0.315622,7.240050,0.329985,1.144663,0.757059,1

In [18]:
result2.to_csv(path+"final//Mean"+str(grid)+"m_o4p"+str(p)+"b1.csv")

In [19]:
#from https://www.kaggle.com/creepykoala/study-of-tree-and-forest-algorithms/notebook

import numpy as np
from numpy.random import random_integers
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from scipy.stats import pointbiserialr, spearmanr
columns = result2.columns.values

param=[]
correlation=[]
abs_corr=[]

for c in columns:
    #Check if binary or continuous
    if len(result2[c].unique())<=2:
        corr = spearmanr(result2['Selection'],result2[c])[0]
    else:
        corr = pointbiserialr(result2['Selection'],result2[c])[0]
    param.append(c)
    correlation.append(corr)
    abs_corr.append(abs(corr))

#Create dataframe for visualization
param_df=pd.DataFrame({'correlation':correlation,'parameter':param, 'abs_corr':abs_corr})

#Sort by absolute correlation
param_df=param_df.sort_values(by=['abs_corr'], ascending=False)

#Set parameter name as index
param_df=param_df.set_index('parameter')

param_df

/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

           abs_corr  correlation
parameter
Selection  1.000000     1.000000
B3         0.329419     0.329419
C6         0.326913     0.326913
B4         0.319638     0.319638
B5         0.310304     0.310304
C8         0.308345     0.308345
A          0.308214     0.308214
C4         0.305108     0.305108
C5         0.301297     0.301297
C12        0.296264     0.296264
B7         0.287969     0.287969
C16        0.283332     0.283332
C2         0.281411     0.281411
C14        0.280748     0.280748
B8         0.280045     0.280045
C10        0.279809     0.279809
drange     0.276885     0.276885
B1         0.275953     0.275953
C7         0.275491     0.275491
C9         0.274317     0.274317
B2         0.272453     0.272453
cellav     0.265888     0.265888
B6         0.263086     0.263086
C13        0.258650     0.258650
C1         0.252253     0.252253
C3         0.234301     0.234301
C15        0.222255     0.222255
allav      0.218163     0.218163
C11        0.208687     0.208687
mindep     0.070929     0.070929

In [20]:
#result2 = pd.read_csv(path + 'final//Mean10m_o4p5b1.csv')

In [21]:
result2.head()

,A,B1,B2,B3,B4,B5,B6,B7,B8,C1,...,C12,C13,C14,C15,C16,mindep,cellav,allav,drange,Selection
0,0.699105,0.523597,0.845961,0.707071,7.070568e-01,0.935508,0.642501,0.942804,0.777002,0.757460,...,0.734142,0.162051,0.526465,7.070355e-01,0.728974,11.423400,0.301484,-3.038687,0.649180,1
1,0.999974,0.142582,0.707075,0.945545,9.999347e-01,0.707076,0.090803,0.793582,0.169831,0.771725,...,0.828063,0.471201,0.447688,7.367055e-01,0.568848,7.831703,0.886610,0.553010,2.147247,1
2,0.999963,0.550400,0.597798,0.294841,4.276751e-01,0.999954,0.535919,0.581665,0.110038,0.796352,...,0.793153,0.155752,0.447560,8.254675e-01,0.501214,8.991404,0.700686,-0.606691,1.367596,1
3,0.999910,0.707036,0.999910,0.707046,5.316222e-01,0.707041,0.937026,0.707034,0.325267,0.789565,...,0.716628,0.757299,0.315604,6.122590e-17,0.315621,8.273400,0.326139,0.111313,0.684095,1
4,0.512527,0.854831,0.999893,0.707051,6.122679e-17,0.707054,0.781595,0.350121,0.524829,0.999885,...,0.444587,0.189328,0.315615,7.070513e-01,0.315622,7.240050,0.329985,1.144663,0.757059,1

In [22]:
# result3 = result2.drop(['Unnamed: 0'], axis=1)

In [23]:
# result3.reset_index(drop=True, inplace=True)

In [24]:
# selected = result2['Selection']
# other = result2.drop(['Selection'], axis=1)

In [25]:
# selected.to_csv(path+"final//MeanSelection_10m_o4p5b1.csv")
# other.to_csv(path+"final//MeanOther_10m_o4p5b1.csv")