In [2]:
#load in libraries and files
import pandas as pd
import numpy as np
import matplotlib as p

toclean = pd.read_csv('..//..//..//Documents//Test_sets//Testing_Sample//HI1539B//SS_HI1539B.txt')

In [3]:
toclean.head(4)

      Latitude     Longitude  Depth
0  50.7746735N  001.1610475W    5.7
1  50.7734187N  001.1675028W   17.5
2  50.7741224N  001.1747684W   15.7
3  50.7715424N  001.1743519W   17.3

In [4]:
toclean['X']= 0.0
toclean['Y']= 0.0
toclean.head()

      Latitude     Longitude  Depth    X    Y
0  50.7746735N  001.1610475W    5.7  0.0  0.0
1  50.7734187N  001.1675028W   17.5  0.0  0.0
2  50.7741224N  001.1747684W   15.7  0.0  0.0
3  50.7715424N  001.1743519W   17.3  0.0  0.0
4  50.7708240N  001.1701261W   18.8  0.0  0.0

In [4]:
#if end of str in column longitude 'W' insert - 
#if end of str in column latitude 'S' insert - 
#delete end of Str 

#for i in range(0,3815835):
        #if toclean.loc[i,'Longitude'][-1] == 'W':
            #toclean.loc[i,'X'] = float(toclean.loc[i,'Longitude'].strip('W'))*-1
            
            
        #else: #toclean.loc[i,'Longitude'][-1] == 'E':
            #toclean.loc[i,'X'] = float(toclean.loc[i,'Longitude'].strip('E'))
            
        #if toclean.loc[i,'Latitude'][-1] == 'S':
            #toclean.loc[i,'Y'] = float(toclean.loc[i,'Latitude'].strip('S'))*-1
             
        #else: # toclean.loc[i,'Latitude'][-1] == 'N':
            #toclean.loc[i,'Y'] = float(toclean.loc[i,'Latitude'].strip('N'))
        #if i %100 == 0:
            #print (i)

In [5]:
#toclean.head()
#toclean['X'] = toclean.loc[toclean['Longitude'].str[-1] == 'W']
toclean.X[toclean.Longitude.str[-1] == 'W'] = pd.to_numeric(toclean.Longitude.str.strip('W'), errors='ignore')*-1
toclean.X[toclean.Longitude.str[-1] == 'E'] = pd.to_numeric(toclean.Longitude.str.strip('E'), errors='ignore')
                                                            
toclean.head()

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

      Latitude     Longitude  Depth         X    Y
0  50.7746735N  001.1610475W    5.7 -1.161048  0.0
1  50.7734187N  001.1675028W   17.5 -1.167503  0.0
2  50.7741224N  001.1747684W   15.7 -1.174768  0.0
3  50.7715424N  001.1743519W   17.3 -1.174352  0.0
4  50.7708240N  001.1701261W   18.8 -1.170126  0.0

In [6]:
toclean.Y[toclean.Latitude.str[-1] == 'S'] = pd.to_numeric(toclean.Latitude.str.strip('S'), errors='ignore')*-1
toclean.Y[toclean.Latitude.str[-1] == 'N'] = pd.to_numeric(toclean.Latitude.str.strip('N'), errors='ignore')
toclean.head()

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      Latitude     Longitude  Depth         X          Y
0  50.7746735N  001.1610475W    5.7 -1.161048  50.774673
1  50.7734187N  001.1675028W   17.5 -1.167503  50.773419
2  50.7741224N  001.1747684W   15.7 -1.174768  50.774122
3  50.7715424N  001.1743519W   17.3 -1.174352  50.771542
4  50.7708240N  001.1701261W   18.8 -1.170126  50.770824

In [7]:
tocleanb = toclean.loc[:,['X','Y','Depth']]

In [8]:
tocleanb.to_csv('..//..//..//Documents//Test_sets//Testing_Sample//HI1539B//Edits//SS_HI1539B_C.csv')

for i in range(0,len(toclean)):
        if toclean.loc[i,'Longitude'][-1] == 'W':
            toclean.loc[i,'X'] = float(toclean.loc[i,'Longitude'].strip('W'))*-1
            
            
        if toclean.loc[i,'Longitude'][-1] == 'E':
            toclean.loc[i,'X'] = float(toclean.loc[i,'Longitude'].strip('E'))
            
        if toclean.loc[i,'Latitude'][-1] == 'S':
            toclean.loc[i,'Y'] = float(toclean.loc[i,'Latitude'].strip('S'))*-1
            
            
        if toclean.loc[i,'Latitude'][-1] == 'N':
            toclean.loc[i,'Y'] = float(toclean.loc[i,'Latitude'].strip('N'))
        if i %10000 == 0 :
            print i
toclean.head()